@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: customfont;
    src: url('/assets/RobotoMono.ttf');
}

body {
    margin: 0;
    font-family: 'Roboto Mono', Roboto, sans-serif;
}

