.main-header {
    margin: 0px;
    padding: 0px;
    height: 65vh;    
}

.main-nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;   
 
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-item {
    font-family: 'Roboto Mono', Roboto, sans-serif;
}

.account-button {
    width: 50px;
    max-width: 50px;
}